<div class="icon-clock">&#128340;</div>

<div class="time-remaining">{{timeRemaining}}</div>

<h1>{{name}}</h1>

<div class="room-status-text">ocupado</div>

<div class="group-bottom">
  <div class="creator-name">{{event.creatorName}}</div>
  <img src="{{event.creatorImage}}" class="creator-image">
</div>

