<div class="icon-clock">&#128340;</div>

<div class="time-remaining">{{timeRemaining}}</div>

<h1>{{name}}</h1>

<div class="room-status-text">próximo</div>

<div class="group-bottom">
  <div class="up-next">
    <span class="up-next-text">Up Next</span>
    <span class="icon-arrow-right">&#59238;</span>
    <span class="icon-person">&#128100;</span>
    <span class="name">{{event.creatorName}}</name>
  </div>
</div>

