<div class="icon-clock">&#128340;</div>
<div class="time-remaining">{{timeRemaining}}</div>
<h1>{{name}}</h1>
<div class="room-status-text">vacantó</div>

<div class="group-bottom">
  <div class="book-room">Book this room</div>
  <div class="book-room-icon">+</div>
</div>

