<div class="modal-overlay"></div>

<div class="time-duration-container">
  <div class="duration-top">60</div>
  <div class="duration-right">15</div>
  <div class="duration-bottom">30</div>
  <div class="duration-left">45</div>
</div>

<button class="cancel-event">Cancel</button>

