.modal-overlay
  background rgba(0, 0, 0, 0)
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  -webkit-transition all 200ms ease
  transition all 200ms ease
  z-index 100
  &.active
    background rgba(0, 0, 0, 0.7)

.modal
  color #000
  padding 20px
  width 90%
  height 90%
  position absolute
  top 5%
  left 5%
  background #fff
  z-index 150
  -webkit-transition all 0.3s ease
  transition all 0.3s ease
  opacity 0
  -webkit-transform-origin 150% 70%
  transform-origin 150% 70%
  -webkit-transform rotate(-30deg)
  transform rotate(-30deg)
  &.active
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
    opacity 1

  h2
    margin-top 0
    text-transform uppercase
    font-size 20px
    font-weight 500

  .close-modal
    position absolute
    top 0
    right 0
    font-size 22px
    padding 20px
    cursor pointer

  hr
    height 1px
    border none
    background #ccc
    margin-bottom 20px
    margin-top -5px

.checkbox-group
  width 100%

  .draggable-handle
    position absolute
    height 100%
    width 40px
    top 0
    left 0
    font-size 22px
    font-family Times new Roman, serif
    line-height 6px
    padding-left 13px
    padding-top 6px
    color #bbb
    text-shadow 0 -1px 1px #fff

  label
    display block
    padding 10px 30px 10px 50px
    background #f3f3f3
    border-bottom 1px solid #ddd
    position relative
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

    &.sortable-ghost
      opacity 0.3
      border 1px dashed #777

    &.inactive
      opacity 0.5

    &:last-child
     border-bottom none
     .border-left
       padding-bottom 0

  input[type=checkbox]
    position absolute
    right 5px
    top 11px

.time-duration-container
  position absolute
  width 300px
  height 300px
  top 100px
  left 50%
  margin-left -150px
  z-index 150
  -webkit-backface-visbility hidden
  backface-visibility hidden
  -webkit-transition all 400ms cubic-bezier(0.405, 0.895, 0.695, 1.185)
  transition all 400ms cubic-bezier(0.405, 0.895, 0.695, 1.185)
  -webkit-transform translateZ(0) translate(-30px, 310px) scale(0.1, 0.1)
  transform translateZ(0) translate(-30px, 310px) scale(0.1, 0.1)
  opacity 0

  &.active
    -webkit-transform translateZ(0) translate(0, 0) scale(1, 1)
    transform translateZ(0) translate(0, 0) scale(1, 1)
    opacity 1

  > div
    width 80px
    height 80px
    background #92b142
    color #fff
    text-align center
    border-radius 50%
    position absolute
    padding-top 12px
    font-size 40px

  .duration-top
    left 50%
    margin-left -40px
    top 0

  .duration-right
    right 0
    top 50%
    margin-top -40px

  .duration-bottom
    left 50%
    margin-left -40px
    bottom 0

  .duration-left
    left 0
    top 50%
    margin-top -40px

button.cancel-event
  background #d5b430
  border none
  color #fff
  font-family Raleway
  font-size 22px
  font-weight 100
  padding 10px 0
  display block
  bottom 60px
  position absolute
  width 160px
  left 50%
  margin-left -80px
  border-radius 5px
  -webkit-transition all 200ms ease
  transition all 200ms ease
  -webkit-transform translateZ(0) translate(-20px, 0)
  transform translateZ(0) translate(-20px, 0)
  opacity 0
  z-index 150

  &.active
    opacity 1
    -webkit-transform translate(0px, 0)
    transform translate(0px, 0)

