nav
  height 62px
  width 100%
  position absolute
  margin 0 auto
  overflow hidden
  overflow-x auto
  z-index 10
  &::-webkit-scrollbar
    display none

  ul
    display block
    list-style-type none
    margin 0
    padding 0
    height 62px
    position absolute
    overflow hidden
    background #000

  li
    display block
    float left
    border 1px solid #000
    font-size 22px
    padding 17px 10px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

