body
  background #000
  position absolute
  height 100%
  width 100%
  margin 0
  font-family 'Raleway'
  font-weight 100
  color #fff

h1
  font-weight 500
  text-transform uppercase
  font-size 68px
  text-align center
  margin: 20px 0
  padding 0 20px
  font-size 50px
  max-height 170px
  overflow hidden

img
  width 80px
  height 80px
  border-radius 50%
  position relative
  z-index 10
  left 50%
  margin-left -40px
  margin-top 10px

.group-bottom
  position absolute
  bottom 0
  width 100%
  padding-bottom 30px

#calendarMenuBtn
  position absolute
  bottom 0
  right 0
  z-index 110
  font-size 40px
  text-shadow 0 -2px rgba(0,0,0,0.3)
  background transparent
  border none
  color #fff
  font-family Times New Roman, Times New Roman, Times, serif
  padding 10px
  line-height 30px
  cursor pointer
  text-decoration none

.time-remaining
  font-size 51px
  margin-top 0
  width 200px
  position relative
  left 50%
  margin-left -100px

.room-status-text
  position relative
  left 0
  margin-bottom 0
  font-size 43px
  text-align center
  width 100%
  text-shadow 0 -2px rgba(0,0,0,0.3)

#OcupadoApp
  position absolute
  height 100%
  display -webkit-box
  display box
  -webkit-box-orient horizontal
  box-orient horizontal
  overflow hidden
  top 0
  padding-top 62px

  section
    top 0
    width 100%
    height 100%
    border-left 1px solid #000
    -webkit-box-flex 1
    box-flex 1
    position relative

    &:first-child
      border-left none

